@import url("animations.css");
:root {
  --gradient-color: rgba(255, 255, 255, 0.6);
  --gradient-first-percentage: 1%;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  font-family: tahoma;
  padding: 0;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
body,
html {
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  background: #000;
  min-height: 100vh;
}
img {
  width: 400px;
  pointer-events: none;
  user-select: none;
}
#loader {
  width: 250px;
  height: 20px;
  border-radius: 0.5rem;
  border: 1px solid #fafafa;
  padding: 0.75rem 0;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.dots {
  display: flex;
  gap: 0.2rem;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  animation: loaderDots 3s infinite linear;
}
.dot {
  border-radius: 0.1rem;
  width: 15px;
  aspect-ratio: 1;
  background: #3b77bc;
}
.copyright {
  width: 80vw;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright > div:nth-child(2) img {
  width: 105px;
}
.top {
  flex: 1;
  display: grid;
  place-content: center;
  gap: 2rem;
}
#black {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  cursor: none;
}
#blue {
  cursor: url("assets/default.cur"), auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: #4f84eb;
  color: #fff;
  display: none;
}
#blue main {
  flex: 7;
  display: flex;
}
#blue main :is(.left, .right) {
  flex: 1;
  display: flex;
  font-size: 3rem;
  font-style: italic;
  align-items: center;
}
#blue main .right span {
  text-shadow: 1.3px 2.5px 0 #0037a9;
}
#blue :is(header, footer) {
  background: #0037a9;
  flex: 1;
  position: relative;
}
#blue :is(header, footer):before,
#blue :is(header, footer):after {
  content: "";
  height: 3px;
  width: 10px;
  left: 50%;
  position: absolute;
}
#blue header:after {
  background: linear-gradient(
    to left,
    var(--gradient-color) var(--gradient-first-percentage),
    transparent
  );
  transform: translate(-100%, 100%);
}
#blue header:before {
  transform: translate(0%, 100%);
  background: linear-gradient(
    to right,
    var(--gradient-color) var(--gradient-first-percentage),
    transparent
  );
}
#blue header:after,
#blue header:before {
  bottom: 0;
  width: 50%;
}
#blue footer:after,
#blue footer:before {
  top: 0;
  width: 50%;
}
#blue footer:after {
  background: linear-gradient(
    to left,
    var(--gradient-color) var(--gradient-first-percentage),
    transparent
  );
  transform: translate(-100%, -100%);
}
#blue footer:before {
  transform: translate(0%, -100%);
  background: linear-gradient(
    to right,
    var(--gradient-color) var(--gradient-first-percentage),
    transparent
  );
}
