*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
body,
html {
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  background: #000;
  font-family: tahoma;
  min-height: 100vh;
  padding-bottom: 2rem;
}
img {
  width: 400px;
  pointer-events: none;
  user-select: none;
}
#loader {
  width: 250px;
  height: 20px;
  border-radius: 0.5rem;
  border: 1px solid #fafafa;
  padding: 0.75rem 0;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.dots {
  display: flex;
  gap: 0.2rem;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  animation: loaderDots 3s infinite linear;
}
.dot {
  border-radius: 0.1rem;
  width: 15px;
  aspect-ratio: 1;
  background: #3b77bc;
}
.copyright {
  width: 80vw;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright > div:nth-child(2) img {
  width: 105px;
}

@keyframes loaderDots {
  0% {
    visibility: visible;
    left: -5%;
  }
  50% {
    left: 105%;
  }
  51% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    left: -5%;
  }
}
.top {
  flex: 1;
  display: grid;
  place-content: center;
  gap: 2rem;
}
#black {
  flex: 1;
  display: flex;
  flex-direction: column;
}
